<div class="item" [style.border-top-color]="getNameColor()">
  <p-card>
    <ng-template pTemplate="header">
      <div class="head">
        <p-avatar [image]="defaultAvatar" size="large" shape="circle"></p-avatar>
        <div class="nameBlock">
          <h3 class="name" [style.color]="getNameColor()">
            {{ contact.firstName }} {{ contact.lastName }}
          </h3>
          <p-tag [value]="contact.jobTitle" [severity]="getTagSeverity()"></p-tag>
        </div>
      </div>
    </ng-template>

    <div class="info">
      <div class="line">
        <span class="label"><i class="pi pi-phone"></i> Phone</span>
        <div class="valueRow">
          <span class="value">{{ contact.phone }}</span>
          <button
            pButton
            type="button"
            icon="pi pi-copy"
            severity="secondary"
            [text]="true"
            pTooltip="Copy phone"
            tooltipPosition="top"
            (click)="copyValue(contact.phone, 'Phone')"
          ></button>
        </div>
      </div>
      <div class="line">
        <span class="label"><i class="pi pi-envelope"></i> Email</span>
        <div class="valueRow">
          <span class="value">{{ contact.email }}</span>
          <button
            pButton
            type="button"
            icon="pi pi-copy"
            severity="secondary"
            [text]="true"
            pTooltip="Copy email"
            tooltipPosition="top"
            (click)="copyValue(contact.email, 'Email')"
          ></button>
        </div>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        label="View profile"
        severity="secondary"
        class="cardFooterBtn"
        pTooltip="Open profile details"
        tooltipPosition="top"
        (click)="openProfile()"
      ></button>
    </ng-template>
  </p-card>
</div>
