<p-dialog
  [visible]="visible"
  (visibleChange)="visibleChange.emit($event)"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '26rem' }"
  [breakpoints]="{ '768px': '95vw' }"
>
  <ng-template pTemplate="header">
    <h3 class="dialogTitle"><i class="pi pi-exclamation-triangle"></i> {{ title }}</h3>
  </ng-template>

  <p class="confirmText">{{ message }}</p>

  <div class="dialogActions">
    <button
      pButton
      type="button"
      label="Cancel"
      severity="secondary"
      (click)="visibleChange.emit(false)"
    ></button>
    <button
      pButton
      type="button"
      [label]="confirmLabel"
      severity="danger"
      (click)="confirm.emit()"
    ></button>
  </div>
</p-dialog>
