<header class="top">
  <div class="topInner">
    <div class="brand">Phone Book</div>
    <nav class="nav">
      <a *ngIf="isAdmin" class="link" routerLink="/admin/contacts" routerLinkActive="active">
        <i class="pi pi-shield"></i> Admin
      </a>
      <ng-container *ngIf="!isAuthenticated; else logoutButton">
        <a class="link" routerLink="/login" routerLinkActive="active">
          <i class="pi pi-sign-in"></i> Login
        </a>
      </ng-container>
      <ng-template #logoutButton>
        <button class="logout" type="button" (click)="logout()">
          <i class="pi pi-sign-out"></i> Logout
        </button>
      </ng-template>
    </nav>
  </div>
</header>

<main class="content">
  <div class="contentInner">
    <router-outlet></router-outlet>
  </div>
</main>
