<!-- dialogo de confirmacion de eliminacion de contacto -->
<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [style]="dialogStyle"
  header="Delete contact"
>
  <!-- texto de confirmacion -->
  <p class="deleteText">
    Are you sure you want to delete {{ contact?.firstName }} {{ contact?.lastName }}?
  </p>
  <!-- botones de confirmacion y cancelacion -->
  <div class="formActions">
    <!-- boton de cancelacion -->
    <button
      pButton
      type="button"
      label="Cancel"
      severity="secondary"
      [disabled]="deleting"
      (click)="close()"
    ></button>
    <!-- boton de eliminacion -->
    <button
      pButton
      type="button"
      label="Delete"
      severity="danger"
      [disabled]="deleting"
      [loading]="deleting"
      (click)="submitDelete()"
    ></button>
  </div>
</p-dialog>
