<p-dialog
  [visible]="visible"
  (visibleChange)="visibleChange.emit($event)"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  [breakpoints]="{ '768px': '95vw' }"
  [style]="{ width: '34rem' }"
  styleClass="contact-profile-dialog"
  (onHide)="onClose()"
>
  <ng-template pTemplate="header">
    <ng-container *ngIf="contact">
      <div class="dialogHead">
        <p-avatar [image]="defaultAvatar" size="large" shape="circle"></p-avatar>
        <div class="nameBlock">
          <h3 class="name" [style.color]="getNameColor()">{{ contact.firstName }} {{ contact.lastName }}</h3>
          <p-tag [value]="contact.jobTitle" [severity]="getTagSeverity()"></p-tag>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="contact">
    <div class="dialogInfo">
      <div class="line">
        <span class="label"><i class="pi pi-phone"></i> Phone</span>
        <div class="valueRow">
          <span class="value">{{ contact.phone }}</span>
          <button
            pButton
            type="button"
            icon="pi pi-copy"
            severity="secondary"
            [text]="true"
            pTooltip="Copy phone"
            tooltipPosition="top"
            (click)="copyValue(contact.phone, 'Phone')"
          ></button>
        </div>
      </div>
      <div class="line">
        <span class="label"><i class="pi pi-envelope"></i> Email</span>
        <div class="valueRow">
          <span class="value">{{ contact.email }}</span>
          <button
            pButton
            type="button"
            icon="pi pi-copy"
            severity="secondary"
            [text]="true"
            pTooltip="Copy email"
            tooltipPosition="top"
            (click)="copyValue(contact.email, 'Email')"
          ></button>
        </div>
      </div>
      <div class="line">
        <span class="label"><i class="pi pi-map-marker"></i> Address</span>
        <div class="valueRow">
          <span class="value">{{ contact.address }}</span>
          <button
            pButton
            type="button"
            icon="pi pi-copy"
            severity="secondary"
            [text]="true"
            pTooltip="Copy address"
            tooltipPosition="top"
            (click)="copyValue(contact.address, 'Address')"
          ></button>
        </div>
      </div>
    </div>

    <div class="dialogActions">
      <button
        pButton
        type="button"
        label="Back"
        icon="pi pi-arrow-left"
        severity="secondary"
        (click)="onClose()"
      ></button>
    </div>
  </ng-container>
</p-dialog>
