@use 'assets/styles/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: clip;
}

.contact-profile-dialog {
  .p-dialog-header {
    padding: $space-lg $space-lg $space-md;
    border-bottom: 1px solid $border;
  }

  .p-dialog-content {
    padding: $space-lg;
  }

  .p-dialog-footer {
    padding: 0;
  }
}

