<header class="top">
  <div class="topInner">
    <div class="brand">Phone Book</div>
    <nav class="nav">
      <a class="link" routerLink="/contacts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="pi pi-users"></i> Contacts
      </a>
      <a class="link" routerLink="/admin/contacts" routerLinkActive="active">
        <i class="pi pi-cog"></i> Admin
      </a>
      <button class="logout" type="button" (click)="logout()">
        <i class="pi pi-sign-out"></i> Logout
      </button>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>
